llama-index==0.14.4
llama-index-core==0.14.4
requests==2.32.5
fastapi==0.118.2
uvicorn==0.37.0
python-multipart==0.0.20
llama-index-llms-openai==0.6.4
llama-index-llms-openai-like==0.5.3
llama-index-embeddings-huggingface==0.6.1
modelscope==1.30.0
